<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/solicitantes/solicitantes.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Solicitantes</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <h3 class="subsection mt-2">Solicitantes</h3>
        <div class="main-content mt-4">
            <a href="/cadastrar-solicitante" class="btn-link">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                </svg> Cadastrar novo solicitante</a>

            <div class="listarpor">
                <label class="label-listarpor " for="listarpor"> Listar por:</label>
                <select class="custom-select" id="listarpor">
                    <option value="idsolicitante" selected> Sequencial</option>
                    <option value="nome">Nome</option>
                    <option value="cidade">Cidade</option>
                    <option value="estado">Estado</option>
                </select>
            </div>
        </div>

        <table class="table table-borderless mt-4" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do solicitante</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>

        <ul class="pagination mt-4" id="pagination">
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><span class="page-link"> 2 </span></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/pagination.js"></script>
<script src="/js/solicitantes/solicitantes.js"></script>