<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/relatorios/relatorios.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Relatórios</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <h3 class="subsection mt-2">Gerar Laudo da Amostra</h3>

        <div>
            <hr>
            <form method="GET" action="./imprimir-laudo" id="form-imprimir-laudo" target="_blank">
                <div id="warnings"></div>
                <div class="form-group w-25 m-0 d-block">
                    <label for="id">ID da Amostra</label>
                    <input type="number" class="form-control" id="id" name="id" placeholder="Ex: 1, 2, 3...">
                </div>
                <div class="row">
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">Código da Amostra</label>
                        <input type="text" class="form-control" id="cod" name="cod" placeholder="Ex: 149/21">
                    </div>
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">Nome do Responsável</label>
                        <input type="text" class="form-control" id="responsavel" name="responsavel" placeholder="Ex: Dr. Édis Belini Júnior" value="Dr. Édis Belini Júnior">
                    </div>
                    <div class="form-group col-md-4 m-0 d-block mt-4">
                        <label for="cod">CRBIO do Responsável</label>
                        <input type="text" class="form-control" id="crbio" name="crbio" placeholder="Ex: 113217/02-D" value="113217/02-D">
                    </div>
                </div>

                <div class="form-check mt-4 m-0">
                    <input type="checkbox" class="form-check-input" id="papel" name="papel" checked>
                    <label class="form-check-label" for="papel">Imprimir com papel do laborátório</label>
                </div>

                <button type="button" class="btn active ml-1 mt-4" onclick="gerar_laudo()">Gerar Laudo</button>
            </form>
        </div>
        <div id="tabela">
        </div>
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>
<script src="/js/relatorios/relatorios.js"></script>