<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="stylesheet" href="/css/relatorios/relatorios.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Amostra por Tipo de Exame</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <h3 class="subsection mt-2">Amostra</h3>

        <div>
            <hr>
            <div id="warnings"></div>
            <div class="form-group">
                <label for="tipo_analise">Tipo de Exame</label>
                <select class="form-control" id="tipo_analise" onchange="gerar_amostras_tipo_analise()">
                    {{#each tipo_analises}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div id="tabela">

        </div>
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>
<script src="/js/relatorios/relatorios.js"></script>