body {
  background: rgb(204, 204, 204);
}

.sheet {
  background-image: url('../../img/background_a4.png');
  background-size: 793px 1120px;
}

/* ----------------------- */

* {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
}

.header-t {
  color: white;
  background-color: #0088b7;
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 12px;
  border-bottom: 1px solid black;
}

.box {
  border: 1px solid black;
}

.box-limited p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field {
  padding-left: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.full {
  display: inline;
}

.field p {
  display: inline;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding: 0;
}

thead {
  background-color: #0088b7;
  color: white;
}

table tr {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 15% 30% 15%;
  width: 100%;
  gap: 0;
  margin: 0;
  padding-left: 5px;
}

.sign {
  display: flex;
  justify-content: space-evenly;
}
