<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/utils/global.css">
    <link rel="icon" href="/img/icon.png">
    <title>LGBM - Cadastrar Exame</title>
</head>

<body>
    {{>_menu}}
    <main>
        {{>_pesquisa}}
        <div class="warnings" id="warnings">

        </div>
        <form method="POST" id="formulario">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="sigla">Sigla</label>
                    <input type="text" class="form-control" id="sigla" name="sigla" placeholder="Sigla">
                </div>

                <div class="form-group col-md-8">
                    <label for="tipo_analise">Tipo de Exame</label>
                    <select class="form-control" id="tipo_analise" name="tipo_analise">
                        <option>Análise Citológica</option>
                        <option>Análise Eletroforética</option>
                        <option>Análise Cromatográfica</option>
                        <option>Análise Molecular</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for=" metodo">Método</label>
                <input type="text" class="form-control" id="metodo" name="metodo" placeholder="Método">
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="preco">Preço</label>
                    <input type="text" class="form-control" id="preco" name="preco" placeholder="Preço">
                </div>

                <div class="form-group col-md-4">
                    <label for="valor_ref">Valor de Referência</label>
                    <input type="text" class="form-control" id="valor_ref" name="valor_ref"
                        placeholder="Valor de Referência">
                </div>

                <div class="form-group col-md-4">
                    <label for="tipo_valor_ref">Tipo de Valor de Referência</label>
                    <input type="text" class="form-control" id="tipo_valor_ref" name="tipo_valor_ref"
                        placeholder="Tipo de Valor de Referência">
                </div>
            </div>

            <div class="form-group">
                <label for="tipo_resultado">Tipo de Resultado</label>
                <input type="text" class="form-control" id="tipo_resultado" name="tipo_resultado"
                    placeholder="Tipo de Resultado">
            </div>

            <h3 class="subsection" class="mt-4">Informações</h3>

            <div class="form-group">
                <label for="observacao">Observações (caso necessário)</label>
                <textarea class="form-control" id="observacao" rows="3"></textarea>
            </div>

            <input type="hidden" name="cadastrado_por" value="{{user.nome}}">

            <button type="submit" class="btn active mt-4 w-100" id="submeter">Cadastrar Exame</button>
            <button type="reset" class="btn btn-secondary mt-3 w-100">Limpar</button>
        </form>
    </main>
</body>

<script src="/js/libs/jquery-3.5.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/utils/global.js"></script>
<script src="/js/exames/cadastrar-exame.js"></script>